body{
  background-image: url("images/background2.jpg");
  background-size: cover;

}

.nav-weather{
  height: 10vh;
  background-color: rgba(37, 34, 36, 0.48);
  box-shadow: 1px 0px 5px black;
  position: relative;
  border-bottom: 1px solid;
}

.nav-title-weather{
  padding-left: 30px;
}
.nav-weather .nav-title-weather a{
  color: #ffff;
  text-decoration: none;
  z-index: 1;

}

.nav-weather .nav-title-weather i{
  color: #ffff;
  text-decoration: none;
  margin-right: 10px;
}

.nav-title-menu{
  margin-right: 20px;
}

.nav-weather .nav-title-menu a{
  text-decoration: none;
}

.nav-weather .nav-title-menu a p{
  color: #ffff;
  margin-right: 15px;
  font-size: 1.3rem;
  box-sizing: border-box;
  border: 2px solid #ffff;
  border-radius: 5px;
  margin-bottom: 0px;
  width: 132px;
  height: 32px;
  text-align: center;
  line-height: normal;
  transition: 0.5s;
}

.nav-weather .nav-title-menu a p:hover{
  background-color: #ffff;
  color: #000;
}

.search{
  margin-top: 11px;
}

.search .search-form{
  margin-right: 30px;

}

.search .search-form input{
  width: 300px;
  height: 38px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 50px;
  outline: none;
  text-indent: 15px;
  color:  #ffff;

}

::-webkit-input-placeholder {
  color: #ffff;
}

.search .search-form button{
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 50px;
  margin-left: 5px;
  transition: 0.5s;
}

.search .search-form button:hover{
  background-color: #ffff;
  color: #000;
}

.search .search-form i:hover{
  color: #000;
}


.search .search-form i{
  color: #ffff;
  transition: 0.5s;
}

.weather-today{
  margin-top: 20px;
  height: 75vh;
  width: 95vh;
  background-color: rgba(37, 34, 36, 0.48);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form-date p{
  text-align: center;
  color: #fff;
}

.form-date .place{
  font-size: 1.5rem;

}

.form-date .day{
  font-size: 5rem;
}

.form-date .date{
  font-size: 1.5rem;
}

.form-date .degree{
  font-size: 8rem;
}

.form-date .description{
  font-style: italic;
  font-size: 2rem;
  font-weight: 500;
}

.header{
  color: #ffff;
}

.team{
  background-color: #fff;
  height: 144;
  width: 400px;
  border-radius: 15px;
  padding: 2px 5px 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.team-leader{
  background-color: #fff;
  height: 144;
  width: 400px;
  border-radius: 15px;
  padding: 2px 5px 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.team-leader img{
  margin: 10px 0px 10px 0px;
  width: 120px;
  height: 120px;
  border-radius: 50%;

}

.row{
  width: 100%;
}



.team img{
  margin: 10px 0px 10px 0px;
  width: 120px;
  height: 120px;
  border-radius: 50%;

}

.team-leader .mem-info{
  line-height: 1;
  border-left: 1px solid;
  padding-left: 8px;
}

.mem-info{
  line-height: 1;
  text-align: center;
}

.mem-info blockquote{
  font-size: 1rem;

}

.mem-info figure{
  line-height: 1;
}
